.links{
    text-align: center;
    color: azure;
}
h1{
    font-size: 30px;
    text-align: center;
}
.info{
    font-size: 20px;
    text-align: center;
}
h3{
    text-align: center; 
    color: rgb(19, 30, 175);
}
.header1{
    padding: 15px;
    background-color: rgb(224, 172, 75);
}
body{
    background-color: cornsilk;
}
.input{
    text-align: center;
}
.op{
    font-weight: lighter;
}
